﻿@model rrepo.Models.DataForm.AuthenticationDFM;
@{
    ViewData["Title"] = "Login";
}

<div class="col-lg-4 offset-lg-4">
    <form asp-controller="Auth" asp-action="Login" class="text-center">
        <h2>Вход</h2>
        @if (ViewData["isLoginError"] != null)
        {
            <p>
                <span class="text-danger">@ViewData["isLoginError"]</span>
            </p>
        }
        <span asp-validation-summary="All" class="label label-danger"></span>
        <p>
            <input type="text" asp-for="Login" required placeholder="Логин" class="form-control" />
        </p>
        <p>
            <input type="password" asp-for="Password" required placeholder="Пароль" class="form-control" />
        </p>
        <p>
            <input type="submit" class="btn btn-primary btn-block" value="Войти" />
        </p>
        <p>
            <a asp-controller="Auth" asp-action="Registration">Создать аккаунт</a>
        </p>
    </form>
</div>
