﻿@model rrepo.Models.DataForm.RegistrationDFM;
@{
    ViewData["Title"] = "Registration";
}

<div class="col-lg-4 offset-lg-4">
    <form asp-controller="Auth" asp-action="Registration" class="text-center">
        <h2>Регистрация</h2>
        <p>
            <input type="email" asp-for="EMail" required placeholder="E-mail" class="form-control" />
        </p>
        <p>
            <input type="text" asp-for="Login" required placeholder="Логин" class="form-control" />
        </p>
        <p>
            <input type="password" asp-for="Password" required placeholder="Пароль" class="form-control" />
        </p>
        <p>
            <input type="submit" class="btn btn-primary btn-block" value="Создать аккаунт" />
        </p>
        <p>
            <a asp-controller="Auth" asp-action="Login">Войти</a>
        </p>
    </form>
</div>
