﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GitStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">GitStore</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Search" class="nav-link @{ if (ViewData["Title"].Equals("Search")) { <text>active</text> } }">Поиск</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a href="/Home/Info?accName=@User.Identity.Name" class="dropdown-item">Профиль</a>
                            <a asp-controller="Auth" asp-action="Logout" class="dropdown-item text-danger">Выход</a>
                        </div>
                    </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-controller="Auth" asp-action="Login" class="nav-link @{ if (ViewData["Title"].Equals("Login")) { <text>active</text> } }">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Auth" asp-action="Registration" class="nav-link @{ if (ViewData["Title"].Equals("Registration")) { <text>active</text> } }">Регистрация</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content pt-5">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - GitStore</p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
