﻿@model rrepo.Models.DataForm.NewRepoDF
@using rrepo.Logic
@inject DataContext _db
@{
    ViewData["Title"] = "New";
}
<div class="col-lg-4 offset-lg-4">
    <form asp-controller="Home" asp-action="NewRepo" class="text-center">
        <h2>Создание репозиторий</h2>
        <p>
            <input type="text" asp-for="Name" required placeholder="Название" class="form-control" />
        </p>
        <p>
            <input type="text" asp-for="Description" required placeholder="Описание" class="form-control" />
        </p>
        <p class="text-left">
            <label>Языки репозитория:</label>
            <br />
            <button class="btn btn-primary btn-sm">+</button>
        </p>
        <p>
            <input type="submit" class="btn btn-primary btn-block" value="Создать" />
        </p>
    </form>
</div>
