﻿@model rrepo.Models.DataBase.RepositoryDBM
@using rrepo.Logic
@inject DataContext _db
@{
    ViewData["Title"] = "Info";
}
<h2 class="text-center">nexusasx10/repo-name</h2>
<div class="card">
    <div class="card-header">@_db.Commits.Where(commit => commit.RepositoryID == Model.ID).Count() commits</div>
    <ul class="list-group list-group-flush">
        @foreach (var commit in _db.Commits.Where(commit => commit.RepositoryID == Model.ID))
        {
            <li class="list-group-item">
                <a href="/Home/Info?accName=@commit.Author">@commit.Author</a>
                <span class="text-muted"> - @commit.Time</span>
                <p class="text-muted">@commit.Comment</p>
            </li>
        }
    </ul>
</div>
