﻿@model rrepo.Models.DataForm.SearchModel
@using rrepo.Models.DataBase
@using rrepo.Logic
@inject DataContext _db
@{
    ViewData["Title"] = "Search";
}

<div class="col-lg-6 offset-lg-3">
    <form asp-controller="Home" asp-action="Search" method="get" class="text-center">
        <h2>Поиск</h2>
        <div class="input-group">
            <input type="text" class="form-control" name="query" placeholder="Имя пользователя или репозиторий" @{ if (!(Model.Query is null)) { <text> value="@Model.Query" </text>  } } required />
            <div class="input-group-append">
                <input type="submit" class="btn btn-outline-dark" value="Найти" />
            </div>
        </div>
        <br />
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" value="repos" name="querytype" class="form-check-input" @{ if (Model.QueryType == QueryType.Repos) { <text> checked</text> } } />Репозитории
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" value="users" name="querytype" class="form-check-input" @{ if (Model.QueryType == QueryType.Users) { <text> checked</text> } } />Пользователи
            </label>
        </div>
    </form>
</div>
@if (!(Model.Query is null))
{
    <br />
    <div class="card-columns">
        @if (!(ViewData["Repos"] is null))
        {
            foreach (var repo in ((IQueryable<Tuple<RepositoryDBM, AccountDBM>>)ViewData["Repos"]))
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/Home/Info?accName=@repo.Item2.Login&repoName=@repo.Item1.Name">@repo.Item1.Name</a>
                        </h5>
                        <p class="card-text">@repo.Item1.Description</p>
                        @foreach (var lang in _db.Languages.Where(lang => lang.RepositoryId == repo.Item1.ID))
                        {
                            <span class="badge badge-pill badge-primary">@lang.Language</span>
                        }
                    </div>
                </div>
            }
        }
        else if (!(ViewData["Users"] is null))
        {
            foreach (var user in ((IQueryable<AccountDBM>)ViewData["Users"]))
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/Home/Info?accName=@user.Login">@user.Login</a>
                        </h5>
                        <p class="card-text">@user.EMail</p>
                    </div>
                </div>
            }
        }
    </div>
}
