﻿@model rrepo.Models.DataBase.AccountDBM;
@using rrepo.Logic
@inject DataContext _db
@{
    ViewData["Title"] = "Info";
}
<h2 class="text-center">@Model.Login</h2>
<p class="text-center">
    <a href="mailto:@Model.EMail">@Model.EMail</a>
</p>
<div class="card-columns">
    @foreach (var repo in _db.Repositories.Where(repo => repo.OwnerID == Model.ID))
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/Home/Info?accName=@Model.Login&repoName=@repo.Name">@repo.Name</a>
                </h5>
                <p class="card-text text-muted">@repo.Description</p>
                @foreach (var lang in _db.Languages.Where(lang => lang.RepositoryId == repo.ID))
                {
                    <span class="badge badge-pill badge-primary">@lang.Language</span>
                }
            </div>
        </div>
    }
    @if (Model.Login.Equals(User.Identity.Name))
    {
        <div class="card">
            <form asp-controller="Home" asp-action="NewRepo" method="get">
                <button class="card-body btn btn-outline-dark btn-block">+ Создать репозиторий</button>
            </form>
        </div>
    }    
</div>
